body {
	/*color: red;*/
	padding-top: 98px;
	height: 2300px;
}

h1,h2,h3,h4,h5 {
	font-family: serif;
}


.navbar {
	/*opacity: .8;*/
}

.carousel-item {
	height: 370px;
}

.carousel-caption {
	bottom: 80px;
}


/*Start Contact Form*/

.contact {
	width: 500px;
	margin: auto;
}

/*End Contact Form*/