body {
	/*color: red;*/
	padding-top: 72px;
	height: 2300px;
	position: relative;
	scroll-behavior: smouth;
}
html {
}

h1,h2,h3,h4,h5 {
	font-family: serif;
}

.scrollButton {
	color: #999;
    border: 1px solid #999;
    font-size: 1.2rem;
    background-color: rgba(234, 225, 162, .75);
    transition: all ease-out .15s;
    border-radius: 4px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    display: none;
    display: block;
    z-index: 9999;
    padding: 4px 8px;
    cursor: pointer;
}

.scrollButton:hover {
	color: #777;
    background-color: rgba(234, 225, 162, .95);
    border-color: #777;
}

.loadPage {
	/*position: relative;*/
	/*z-index: 9999!important;*/
	/*background-color: red;*/
}

/*Start Navbar*/
.dropdown-toggle::after {
	display: none;
}
.navbar .social ion-icon {
	font-size: 25px;
}
/*End Navbar*/


.carousel-item {
	height: 370px;
}

.carousel-caption {
	bottom: 80px;
}


/*Start Contact Form*/

.contact {
	max-width: 600px;
	margin: auto;
}

/*End Contact Form*/